/**
 * @file
 * Style another element as a link.
 */

button.link {
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
label > span.field-edit-link,
label button.link {
  font-weight: normal;
}
/* Remove parenthesis around quick-edit link. */
label > span.field-edit-link {
  font-size: 0;
}
label button.link {
  margin-left: 0.6em;
  font-size: 13px;
}
