/**
 * Entity meta settings.
 */
.entity-meta {
}
.entity-meta__header,
.entity-meta details {
}
.entity-meta__header {
  padding: 1em 1.5em;
  position: relative;
}
.entity-meta__title {
  font-size: 1.231em;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  margin: 0.25em 0;
}
.entity-meta__header .form-item {
  margin: 0.25em 0;
}
.entity-meta__last-saved {
  font-style: italic; /* As-designed, but really: why is this italic? */
  position: absolute;
  top: -71px;
}
.entity-meta__last-saved label {
  display: none;
}
/* Emptiness of textarea cannot be tested in CSS. */
.entity-meta .form-item-revision-log-0-value:not(:empty) label ~ div {
  height: 0;
  overflow: hidden;
  transition: height linear 0.2s;
}
.entity-meta .form-item-revision-log-0-value:focus-within label ~ div {
  height: auto;
}
.entity-meta details {
  border: 1px solid transparent;
  margin: 0;
}
.entity-meta details:first-child {
  border-top-color: #bfbfbf;
}
.entity-meta details[open] {
}
.entity-meta details[open] + details[open] {
  background-image: none;
  border-top-width: 1px;
  padding-top: 0;
}
.entity-meta details > .details-wrapper {
  padding-top: 0;
}
.entity-meta details > summary {
  padding: 0.85em 1.25em;
  text-shadow: 0 1px 0 white;
}
.entity-meta details .summary {
  display: none; /* Hide JS summaries. @todo Rethink summaries. */
}
